.login-form {
  background: #dde9f6;
  position: relative;
  /* color: #ffffff; */
  padding: 5rem;
  display: flex;
  flex-flow: column;
  margin: 10% auto;
  width: 30%;
  box-shadow: 0 0 10px 2px #dde9f6;
}

.alert-style {
  position: absolute;
  top: 1rem;
  left: 30%;
}
