.form-style {
  margin-bottom: 10px;
}

.form-style label {
  margin-bottom: 5px;
}

.astericks {
  color: red;
}

.btn-submit {
  border: none;
  width: 100%;
  background: #26305d;
  color: #e8e9e8;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn-submit:hover {
  box-shadow: 0 0 10px 1px grey;
}

.alert-input {
  border: 1px solid red;
}

.alert-style {
  padding: 0 0 0.5rem 1rem;
  color: #ab1d24;
}
