.main-container {
  position: relative;
}

.meetings__container {
  background: #21242b;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
}

.meetings__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.meetings__logo {
  width: 6rem;
  margin: 15px;
}

.meetings-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}
.meetings__actions {
  display: flex;
  justify-content: center;
}

.meetings__actions button {
  margin: 5px;
  background: transparent;
  border: 2px solid rgb(77, 77, 77);
}

.grid-count {
  /* display: none; */
  position: absolute;
  right: 7%;
  list-style-type: none;
  padding: 10px;
  z-index: 2;
}

.grid-count li {
  padding: 5px 10px;
}

.grid-count li:hover {
  background: #575757;
}

.btn-grids {
  color: #ffffff;
  padding: 2px 15px;
  border-radius: 5px;
}

.btn-invite {
  color: #f1b103;
  font-size: 1rem;
  padding: 5px;
}

.meetings__grid-container {
  display: grid;
  margin: auto;
  max-width: 90%;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.meetings__sidebar {
  position: fixed;
  left: 0;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-flow: column;
}

.camera {
  color: #f1b103;
  border-left: 2px solid #f1b103;
}

.meetings__sidebar span {
  padding: 10px;
  cursor: pointer;
}

.video-container,
.video-container-3 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}

.video-container {
  max-width: fit-content;
}

.video-container-2 {
  width: fit-content;
}

.meetings__grid-container-3 {
  display: grid;
  margin: auto;
  width: 70%;
  box-sizing: border-box;
}

.video-container-3 {
  width: fit-content;
  height: 100%;
}

.meetings__grid-container-4 {
  display: grid;
  margin: auto;
  width: 70%;
  box-sizing: border-box;
}

.video-container-4 {
  width: 100%;
}

.meetings--video,
.meetings--video-2,
.meetings--video-3,
.meetings--video-4 {
  position: relative;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
}

.meetings--video-2 {
  position: relative;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.meetings--video-3 {
  position: relative;
  margin: 0;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.meetings-0 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.meetings-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.meetings-2 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}

.meetings--video-4 {
  position: relative;
  margin: 0;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}

.meetings__footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.meetings__footer-one ul {
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0;
}

.meetings__footer-one ul li {
  color: #9b9b9b;
  list-style-type: none;
  text-align: center;
  max-width: 5rem;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid rgb(100, 100, 100);
}

.record {
  border: none;
}

.meetings__footer-two {
  display: flex;
  flex-flow: row;
}

.btn-end {
  background: #dc354b;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  padding: 6px 10px;
}

.mic {
  padding: 1px 10px;
}

@media screen and (max-width: 1000px) {
  .meetings__grid-container {
    margin: 5rem auto;
    max-width: 90%;
  }

  .meetings__grid-container-3 {
    margin: 5rem auto;
    max-width: 90%;
  }

  .meetings__grid-container-4 {
    margin: 5rem auto;
    max-width: 90%;
  }
}
