.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2rem 5rem;
  font-size: 14px;
  color: grey;
  background: #f5f7f9;
}
