.form-style {
  margin-bottom: 10px;
}

.form-style label {
  margin-bottom: 5px;
}

.astericks {
  color: red;
}

.btn-submit {
  border: none;
  width: 100%;
  background: #26305d;
  color: #e8e9e8;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.active:hover {
  /* background: #26305d; */
  box-shadow: 0 0 10px 1px grey;
}

.btn-clicked {
  display: none;
  transition: all 0.2s ease-in-out;
}

/* .btn-submit.active:hover {
  box-shadow: 0 0 10px 1px grey;
} */

.btn-submit:disabled {
  background: #7880a3;
}

.alert-input {
  border: 1px solid red;
}

.alert-style {
  width: fit-content;
  margin-left: 10px;
  padding: 0 5px 5px;
  color: #ab1d24;
  background: #f8d1d5;
  border-radius: 1px;
}

.success {
  margin: 5px auto;
  padding: 2px 5px;
  width: fit-content;
  text-align: center;
  color: #ffffff;
  background: green;
}
